* body{
    background-image: url(/image/fond-texture-uni-bleu-fonce.jpg) ;
    color : rgb(255, 255, 255)
}


form{
   align-content: center;
}
#menu{
    font-size: 1.25rem;  
 }

.barreAccueil{
    display: flex;
    list-style-type: none;
}
h1{
    text-align: center;
    font-size: 3rem;
}
h2{
    text-align: left;
}

li{ 
    border-radius: 30px;
    margin : 0% 0.05% 0% 0.05%;
    padding: 0.5%;
}
.titreacceuil{
    font-size: 3rem;
    margin-bottom: 2%;
}
#contourAccueil{
    margin-top: 2%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    border-width: 5px;
    border-color: rgb(14, 131, 30);
}
#imgDino{
        margin: auto;
        display: block;
        margin-bottom: 5%;
        margin-top: 5%;
      }

#imgLog{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;
}
#imgMail{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;

}
#imgMdp{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;

}
#imgVerifMdp{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;
}
#dinoProfil{
    visibility: hidden;
}
#tailleProfil{
    visibility: hidden;

}
#imgProfil{
    width : 50px;
    height : 50px;
    text-align: center;
}
table, td {
    border: 1px solid #333;
}

.trouver{
    border : 2px solide red;
    pointer-events: none;
}
.newImg {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .case {
    transform-style: preserve-3d;
    transform: transform 1s ease;
    transform: rotateY(1turn);
    backface-visibility: hidden;
  }
 
div{
    font-size: 1.8rem;
}

.contenuList{
    font-size: 1.2rem;
}