* body{
    background-image: url(/image/fond-texture-uni-bleu-fonce.jpg) ;
    color : rgb(255, 255, 255)
}

#menu{
    font-size: 1.25rem;  
    border: 1rem, solid, white;
 }

.barreAccueil{
    display: flex;
    list-style-type: none;
}
h1{
    text-align: center;
    font-size: 3rem;
}
h2{
    text-align: left;
}

li{ 
    border-radius: 30px;
    margin : 0% 0.05% 0% 0.05%;
    padding: 0.5%;
}
.titreacceuil{
    font-size: 3rem;
    margin-bottom: 2%;
    text-align: center;
}
#contourAccueil{
    border-width: 5px;
    border-color: rgb(14, 131, 30);
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 9%;
    border-radius: 30px;
}
#imgDino{
        margin: auto;
        display: block;
      }

#imgLog{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;
}
#imgMail{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;

}
#imgMdp{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;

}
#imgVerifMdp{
    float : right;
    width : 20px;
    height : 20px;
    visibility: hidden;
}
#dinoProfil{
    visibility: hidden;
}
#tailleProfil{
    visibility: hidden;

}
#imgProfil{
    width : 50px;
    height : 50px;
    text-align: center;
}
table, td {
    border: 1px solid #333;
}

#identifiant{
background-color: transparent;
border: none ;
color :white;
}
#mdp{
    background-color: transparent;
    border: none ;
    color :white;
    }
#mdpVerif{
    background-color: transparent;
    border: none ;
    color :white;
        }        
#email{
  background-color: transparent;
  border: none ;
  color :white;
            }
            
.boutonOk{
    width: 120px;
    height: 55px;
    
}
#espaceBouton{
     display: flex;
    justify-content: space-evenly;
}
.titreInscription{
    font-size: 1.5rem;
}

input {
    height: 40px;
    font-size: 1.1rem;
}