body{
    background-image: url(/image/fond-texture-uni-bleu-fonce.jpg) ;
    color : rgb(255, 255, 255)
}
.barreAccueil{
    display: flex;
    list-style-type: none;
}
.tailleImg{
    border: 2.5mm ridge rgba(211, 220, 50, .6);
    
}
h1{
    text-align: center;
    font-size: 3rem;
}
h2{
    text-align: center;
}

li{ 
    border-radius: 30px;
    margin : 0% 0.05% 0% 0.05%;
    padding: 0.5%;
}
#menu{
   font-size: 1.25rem; 
}

#tableau{
    justify-content: center;
    display: flex;
}
#tabScore{
    justify-content: center;
    display: flex;
    border-collapse: collapse;
    text-align: center;
}
.scoreTab{
     padding:0.40rem;
}
.scoreTr, .scoreTab{
        border: 2px solid rgb(255, 255, 255);
          border-collapse: collapse;
        }

#titreTabScore{
    margin-bottom: 0.85%;
}
#afficherCoups{
    text-align: center;

}
