* body{
    background-image: url(/image/fond-texture-uni-bleu-fonce.jpg) ;
    color : rgb(255, 255, 255)
}

#menu{
    font-size: 1.25rem;  
    border: 1rem, solid, white;
 }

.barreAccueil{
    display: flex;
    list-style-type: none;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.titreProfil{
    margin-top: 2px;
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 2px;
}
li{ 
    border-radius: 30px;
    margin : 0% 0.05% 0% 0.05%;
    padding: 0.5%;
}

#contourAccueil{
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    border-radius: 30px;
    border-width: 5px;
    border-color: rgb(14, 131, 30);
}            

#imgProfil{
        margin: auto;
        display: block;
        margin-bottom: 5%;
        margin-top: 1%;
        height: 120px;
        width: 120px;
        border: solid;
        border-radius: 50%;
        padding: 1%;
        border-color: rgb(14, 131, 30);
}

#nomUtilisateur{
    font-size: 1.7rem;
}
#emailProfil{
    font-size: 1.7rem;
}

#boutonOptions{
    margin: auto;
    padding: 0.9%;
        width: 150px;
        height: 60px;  
display: flex;
justify-content: center;
font-size: 1.2rem;
margin-top: 2%;
}
.donnees{
    font-size: 1.4rem;
    margin-bottom: 1%;
}

#tabScore{
    justify-content: center;
    display: flex;
    border-collapse: collapse;
    text-align: center;
   
}
.scoreTab{
     padding:0.40rem;
}
.scoreTr, .scoreTab{
        border: 2px solid rgb(255, 255, 255);
          border-collapse: collapse;
        }

.titreTabScore{
    margin-bottom: 8px;
    text-align: center; 
    font-size: 3rem;
}

#dinoProfil{
       margin: auto;
        display: block;
        margin-bottom: 1.5%;
        margin-top: 1.5%;   
}
#tailleProfil{
    margin: auto;
        display: block;
        margin-bottom: 1.5%;
        margin-top: 1.5%;  
}